body {
  font-size:1em;
  font-family: Arial;
  background-image: url(http://rs77.pbsrc.com/albums/j55/Nolamom/Fun%20gifs/Billy%20Gifs/Billy_Hanged.gif~c200);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50% 150px;

}

h1{
  background-color:#FFFCA9;
  color:black;
  text-align:center;
  margin: 0px;
  }

h2{
color:#555200;
}

input{
  font-size:1em;
  background-color: #eeeeFe;
  color:black;
  margin: 10px;

}

li{
    font-size:1.5em;
  border: solid #005692 5px;
  color:black; 
  list-style: none;
  float: left ;
}


form{
  font-weight: bold;

}

p{
   font-weight: bold;
}


